* {
    border: none;
    margin: 0;
    padding: 0;
}
html {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12px;
}
body {
    min-height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
}
canvas {
    border: 2px solid black;
}